<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Connection</key>
	<dict>
		<key>identifier</key>
		<string>435103C9-F1DC-5C75-BC3F-301285B54CD5</string>
		<key>protocol</key>
		<string>MQTT</string>
		<key>state</key>
		<string>Connected</string>
	</dict>
	<key>Crashes</key>
	<dict>
		<key>files</key>
		<array/>
	</dict>
	<key>DestinationState</key>
	<array>
		<dict>
			<key>destinationType</key>
			<string>JamfCloud</string>
			<key>dlqCount</key>
			<integer>0</integer>
			<key>pendingCount</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>2119A54F-B332-5AF3-85D1-7D095227DC05</string>
		</dict>
		<dict>
			<key>destinationType</key>
			<string>JamfCloud</string>
			<key>dlqCount</key>
			<integer>0</integer>
			<key>pendingCount</key>
			<integer>15</integer>
			<key>uuid</key>
			<string>52563551-B37D-5D3E-A095-FB60C9D86CF1</string>
		</dict>
		<dict>
			<key>destinationType</key>
			<string>JamfCloud</string>
			<key>dlqCount</key>
			<integer>0</integer>
			<key>pendingCount</key>
			<integer>1</integer>
			<key>uuid</key>
			<string>3B097C05-444F-56E3-A1E3-83303BBBBD08</string>
		</dict>
		<dict>
			<key>destinationType</key>
			<string>LogFile</string>
			<key>dlqCount</key>
			<integer>0</integer>
			<key>pendingCount</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>0E7EEC15-0047-52AE-B618-D4C8F48A6A6B</string>
		</dict>
		<dict>
			<key>destinationType</key>
			<string>HTTP</string>
			<key>dlqCount</key>
			<integer>0</integer>
			<key>pendingCount</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>6077FA5B-6111-5087-A4E5-0B91DDEF15DC</string>
		</dict>
		<dict>
			<key>destinationType</key>
			<string>HTTP</string>
			<key>dlqCount</key>
			<integer>0</integer>
			<key>pendingCount</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>DE979F1C-B5D9-597E-8238-3EB4E86E7950</string>
		</dict>
		<dict>
			<key>destinationType</key>
			<string>HTTP</string>
			<key>dlqCount</key>
			<integer>0</integer>
			<key>pendingCount</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>02B700B5-586F-5DA9-8999-78BB78F05E15</string>
		</dict>
		<dict>
			<key>destinationType</key>
			<string>HTTP</string>
			<key>dlqCount</key>
			<integer>0</integer>
			<key>pendingCount</key>
			<integer>9</integer>
			<key>uuid</key>
			<string>CB48283F-2463-50A6-862F-93268DECC200</string>
		</dict>
		<dict>
			<key>destinationType</key>
			<string>HTTP</string>
			<key>dlqCount</key>
			<integer>0</integer>
			<key>pendingCount</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>12E2C2FD-F57C-5899-8E56-F9D89901C4EC</string>
		</dict>
		<dict>
			<key>destinationType</key>
			<string>HTTP</string>
			<key>dlqCount</key>
			<integer>0</integer>
			<key>pendingCount</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>7B793EE5-6309-5D16-A027-E68894FF6AC4</string>
		</dict>
	</array>
	<key>Diagnostics</key>
	<string>Disabled</string>
	<key>InstallType</key>
	<string>systemExtension</string>
	<key>LastCheckin</key>
	<date>2026-01-12T20:23:54Z</date>
	<key>LastInsightsSync</key>
	<date>2026-01-12T01:21:44Z</date>
	<key>LogLevel</key>
	<string>error</string>
	<key>Monitors</key>
	<dict>
		<key>click</key>
		<dict>
			<key>actionsTaken</key>
			<dict/>
			<key>running</key>
			<true/>
			<key>stats</key>
			<dict>
				<key>events</key>
				<integer>0</integer>
				<key>matched</key>
				<integer>0</integer>
				<key>rules</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>diskArbitration</key>
		<dict>
			<key>actionsTaken</key>
			<dict/>
			<key>running</key>
			<true/>
			<key>stats</key>
			<dict>
				<key>events</key>
				<integer>0</integer>
				<key>matched</key>
				<integer>0</integer>
				<key>rules</key>
				<integer>4</integer>
			</dict>
		</dict>
		<key>download</key>
		<dict>
			<key>actionsTaken</key>
			<dict/>
			<key>running</key>
			<true/>
			<key>stats</key>
			<dict>
				<key>events</key>
				<integer>1</integer>
				<key>matched</key>
				<integer>0</integer>
				<key>rules</key>
				<integer>2</integer>
			</dict>
		</dict>
		<key>execAuth</key>
		<dict>
			<key>actionsTaken</key>
			<dict/>
			<key>running</key>
			<true/>
			<key>stats</key>
			<dict>
				<key>custom</key>
				<dict>
					<key>blocked</key>
					<integer>0</integer>
					<key>cdHashes</key>
					<integer>0</integer>
					<key>sha1</key>
					<integer>1</integer>
					<key>sha256</key>
					<integer>1</integer>
					<key>signingIDs</key>
					<integer>50</integer>
					<key>teamIDs</key>
					<integer>0</integer>
				</dict>
				<key>events</key>
				<integer>663737</integer>
				<key>signatureFeed</key>
				<dict>
					<key>blocked</key>
					<integer>0</integer>
					<key>matched</key>
					<integer>0</integer>
					<key>mode</key>
					<integer>2</integer>
					<key>version</key>
					<string>21268</string>
				</dict>
			</dict>
		</dict>
		<key>file</key>
		<dict>
			<key>actionsTaken</key>
			<dict>
				<key>CacheFile</key>
				<integer>21</integer>
				<key>Report</key>
				<integer>21</integer>
			</dict>
			<key>running</key>
			<true/>
			<key>stats</key>
			<dict>
				<key>events</key>
				<integer>2896418</integer>
				<key>matched</key>
				<integer>21</integer>
				<key>rules</key>
				<integer>119</integer>
			</dict>
		</dict>
		<key>gateKeeper</key>
		<dict>
			<key>actionsTaken</key>
			<dict/>
			<key>running</key>
			<true/>
			<key>stats</key>
			<dict>
				<key>events</key>
				<integer>0</integer>
				<key>matched</key>
				<integer>0</integer>
				<key>rules</key>
				<integer>4</integer>
			</dict>
		</dict>
		<key>keylogger</key>
		<dict>
			<key>actionsTaken</key>
			<dict/>
			<key>running</key>
			<true/>
			<key>stats</key>
			<dict>
				<key>events</key>
				<integer>10</integer>
				<key>matched</key>
				<integer>0</integer>
				<key>rules</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>mrt</key>
		<dict>
			<key>actionsTaken</key>
			<dict/>
			<key>running</key>
			<false/>
			<key>stats</key>
			<dict>
				<key>events</key>
				<integer>0</integer>
				<key>matched</key>
				<integer>0</integer>
				<key>rules</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>offlineLicense</key>
		<dict>
			<key>actionsTaken</key>
			<dict/>
			<key>running</key>
			<false/>
			<key>stats</key>
			<dict>
				<key>events</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>process</key>
		<dict>
			<key>actionsTaken</key>
			<dict>
				<key>Report</key>
				<integer>816</integer>
			</dict>
			<key>running</key>
			<true/>
			<key>stats</key>
			<dict>
				<key>events</key>
				<integer>230727</integer>
				<key>matched</key>
				<integer>816</integer>
				<key>rules</key>
				<integer>71</integer>
			</dict>
		</dict>
		<key>screenshot</key>
		<dict>
			<key>actionsTaken</key>
			<dict>
				<key>Report</key>
				<integer>4</integer>
			</dict>
			<key>running</key>
			<true/>
			<key>stats</key>
			<dict>
				<key>events</key>
				<integer>4</integer>
				<key>matched</key>
				<integer>4</integer>
				<key>rules</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>unifiedLogging</key>
		<dict>
			<key>actionsTaken</key>
			<dict>
				<key>Report</key>
				<integer>7</integer>
			</dict>
			<key>running</key>
			<true/>
			<key>stats</key>
			<dict>
				<key>matched</key>
				<integer>7</integer>
				<key>predicates</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>usb</key>
		<dict>
			<key>actionsTaken</key>
			<dict/>
			<key>running</key>
			<true/>
			<key>stats</key>
			<dict>
				<key>events</key>
				<integer>0</integer>
				<key>matched</key>
				<integer>0</integer>
				<key>rules</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>Plan</key>
	<dict>
		<key>Configuration</key>
		<array>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Mode</key>
				<string>Prevent</string>
				<key>Name</key>
				<string>Advanced Threat Controls</string>
				<key>UUID</key>
				<string>5b8a2426-cba3-4805-9688-982c54545f3c</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Mode</key>
				<string>Prevent</string>
				<key>Name</key>
				<string>Tamper Prevention</string>
				<key>UUID</key>
				<string>9d523b8e-c527-4525-8768-92243b55e0b6</string>
			</dict>
		</array>
		<key>DeviceControls</key>
		<dict>
			<key>defaultPermission</key>
			<string>Prevented</string>
			<key>enabled</key>
			<true/>
			<key>overridesPresent</key>
			<true/>
		</dict>
		<key>LogLevel</key>
		<string>error</string>
		<key>WebProtection</key>
		<true/>
		<key>autoUpdate</key>
		<true/>
		<key>planHash</key>
		<string>cee66561422b5a30a0f204f62820bf0a</string>
		<key>planId</key>
		<string>167</string>
		<key>telemetry</key>
		<string>Enabled</string>
	</dict>
	<key>PlanHash</key>
	<string>cee66561422b5a30a0f204f62820bf0a</string>
	<key>PlanID</key>
	<string>167</string>
	<key>Status</key>
	<string>Protected</string>
	<key>Tenant</key>
	<string>jamf.com</string>
	<key>UploadQueue</key>
	<dict>
		<key>HTTP</key>
		<integer>9</integer>
		<key>JamfCloud</key>
		<integer>16</integer>
		<key>LogFile</key>
		<integer>0</integer>
	</dict>
	<key>Uptime</key>
	<real>538677.5970089436</real>
	<key>Version</key>
	<string>8.6.0.1</string>
</dict>
</plist>

